html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 100%;
}

body{
	background-color: #e5e5e5;
	color: #898989;
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
	
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	
	padding: 0 0 .35em 0; /* bottom padding for the footer */
}

.hide{ display: none !important; }
.show{ display: block; }

.card{
	position: relative;
	margin: 1.8em auto;
	padding: 50px 0;
	background-color: white;
	display: block;
	width: 100%;
	max-width: 28em;
	
	box-shadow: 0px 5px 2px -1px #ccc;
	border-radius: 2px;
}

.cache.card{ padding: 20px 0; background: #F8EEA5; }

#date{
	font-size: 2em;
	margin-bottom: 10px;
}

#julian{
	font-size: 10em;
}

#info, #close, #today{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
}

#info, #today{ color: #35b4e3; }
#today{ right: auto; left: 0 }
#close{ color: red; }

.text{
	padding: 0 2em;
	text-align: left;
	line-height: 1.4em;
}

#dateInput, #julianInput{
	position: absolute;
	top: 0;
	width: 1px;
	opacity: 0;
	z-index: -1;
	border: none;
}
#dateInput:focus, #julianInput:focus{ border: none; outline: none; }

#footer{
	position: fixed;
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 5px 0;
	
	font-size: .7em;
	background-color: #e5e5e5;
	box-shadow: 0 0 5px 2px #e5e5e5;
}

#footer a { color: #35b4e3; }

/* and (resolution: 163dpi) */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5){
	body{ font-size: .75em; }
}
