html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 100%;
}

body{
	background-color: #e5e5e5;
	color: #898989;
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
	
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	
	padding: 0 0 .35em 0; /* bottom padding for the footer */
}

.hide{ display: none !important; }
.show{ display: block; }

.card{
	position: relative;
	margin: 1.8em auto;
	padding: 50px 0;
	background-color: white;
	display: block;
	width: 100%;
	max-width: 28em;
	
	box-shadow: 0px 5px 2px -1px #ccc;
	border-radius: 2px;
}

.card.short{ padding: 20px 0; }
.cache.card{ background: #F8EEA5; }

@-webkit-keyframes openCard{
	0%{ max-height: 1em; background: rgba(255,255,255,.5); }
	30%{ background: white; }
	100%{ max-height: 450px; }
}
@-webkit-keyframes closeCard{
	0%{ max-height: 450px; background: white; }
	70%{ background: white; }
	100%{ max-height: 1em; background: rgba(255,255,255,.5); }
}
@-webkit-keyframes textShow{
	0%{ opacity: 0; }
	90%{ opacity: 0; }
	100%{ opacity: 1; }
}
@-webkit-keyframes textHide{
	0%{ opacity: 1; }
	10%{ opacity: 0; }
	100%{ opacity: 0; }
}

.card.toggle{
	overflow-y: hidden;
	max-height: 1em;
	background: rgba(255,255,255,.5);	
	/* hack to hardware accelerate css animations */
	-webkit-transform: translate3d(0,0,0);
}
/* animate card open/close */
.card.toggle.close{
	max-height: 1em;
	-webkit-animation: closeCard .5s ease;
}
.card.toggle.open{
	background: white;
	max-height: 450px;
	-webkit-animation: openCard .5s ease;
}
/* animate text show/hide */
.card.toggle.close .text{ -webkit-animation: textHide .5s ease; opacity: 0; }
.card.toggle.open .text{ -webkit-animation: textShow .5s ease; opacity: 1; }

.card .trigger{ cursor: pointer; }
.card .text{
	padding: 20px 2em;
	text-align: left;
	line-height: 1.4em;
}

#date{
	font-size: 2em;
	margin-bottom: 10px;
}

#julian{
	font-size: 10em;
}

#today{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
	color: #35b4e3;
	right: auto;
	left: 0;
}

#dateInput, #julianInput{
	position: absolute;
	top: 0;
	width: 1px;
	opacity: 0;
	z-index: -1;
	border: none;
}
#dateInput:focus, #julianInput:focus{ border: none; outline: none; }

#footer{
	position: fixed;
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 5px 0;
	
	font-size: .7em;
	background-color: #e5e5e5;
	box-shadow: 0 0 5px 2px #e5e5e5;
}

#footer a { color: #35b4e3; }

/* and (resolution: 163dpi) */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5){
	body{ font-size: .75em; }
}
